{% extends 'base.html' %}

{% block titulo %}
Crear producto
{% endblock %}

{% block contenido %}
<h1>Crear producto</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="alert alert-danger">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('crearProductoPost') }}" 
        enctype="multipart/form-data"
        method="POST">
        <div>
            <label for="">Imagen</label>
            <input type="file" name="imagen">
        </div>
        <div>
            <label for="">Nombre</label>
            <input type="text" name="nombre" value="{{ nombre }}">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="number" name="price" value="{{ price }}">
        </div>
        <a href="{{ url_for('index') }}">Volver</a>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}