{% extends 'base.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block estilos %}
<style>
    h1 {
        font-size: 16px;
    }
</style>
{% endblock %}

{% block contenido %}
<h1>Productos</h1>
<a href="{{ url_for('crearProducto') }}">Nuevo</a>
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>PRECIO</th>
        <th>IMAGEN</th>
    </tr>

    {% for producto in productos %}
    <tr>
        <td>{{ producto['id'] }}</td>
        <td>{{ producto['nombre'] }}</td>
        <td>{{ producto['price'] }}</td>
        <td>
            {% if producto['imagen']: %}
                <img src="{{ producto['imagen'] }}">
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}

